/* Logo size and alignment */
.sidebar-logo {
    max-width: 150px;
    max-height: 150px;
}

.sidebar-brand {
    text-align: left;
}

/* Center the title text */
.sidebar-brand-text {
    text-align: center;
}
